<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:改mapper.xml映射文件的唯一标识并且必须和数据处理层的接口的路径相同-->
<mapper namespace="com.bmh.graphqltest.graphqlserver.mapper.UserMapper">
    <!--   必须添加property属性 ，区别于是否加主键-->
    <resultMap id="user" type="com.bmh.graphqltest.graphqlserver.pojo.User">
        <id column="id" property="id" javaType="int" ></id>
        <result column="name" property="name" javaType="String" ></result>
        <result column="email" property="email" javaType="String" ></result>
    </resultMap>
    <!--id的值必须和数据处理层的接口名一致-->
    <!--此处的User-->
    <select id="selectUserList" resultMap="user">
        select * from  users
    </select>
</mapper>